@import "../../shared/styles/colors.sass"
@import "../../shared/styles/breakpoints.sass"

.app
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  overflow: hidden

  @include breakpoint(small)
    display: flex
    flex-direction: column

.mapWrapper
  position: relative
  flex: 100 1 auto
  overflow: hidden

  @include breakpoint(small)
    max-height: 60%
    min-height: 0

.map
  width: 100%
  height: 100%

.filter
  background-color: $light-grey

  & > label,
  .labelWrapper label
    display: block
    color: $dark-grey
    font-size: 12px
    margin: 5px 10px

  .timeLabel
    font-size: 13px
    margin-top: 10px

    strong
      color: $red

.labelWrapper
  margin-top: 5px
  display: flex
  justify-content: space-between
